@media screen and (max-width: 700px) {
    body {
        background-position: top center;
    }
    
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .container {
        background-position: center top;
    }

    .descricao{
        width: 60%;
    }

    #text h3 {
        font-size: 36px;
    }
    #text p {
        font-size: 16px;
    }
    
    #text h6 {
        font-size: 18px;
    }
    
    #text ul li {
        font-size: 14px;
        padding: 5px;
    }

}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 60%;
    }
}